{% extends "login/base.html" %}
{% block title %} Admin Login {% endblock %}

{% block content %} 


<div class="form-box">
    <h2><u> Admin Login </u></h2>
    <form action="{{ url_for('auth.adminlogin') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password">
        </div>
        <input type="submit" value="Login" class="btn btn-dark w-100">
        <div class="text-center">
            <br>
            <a href="{{ url_for('auth.login') }}" style="color: black;">Login as User</a>
        </div>
    </form>
</div>
{% endblock %}