{% extends 'client/base.html' %}
{% block title %}Book Spot{% endblock %}
{% block heading %}Booking Form{% endblock %}
{% block content %}
<div class="container col-lg-8 mb-4 border border-info rounded-4 shadow-sm p-4 bg-light">
    <form method="POST">

        <div class="row mb-5">
            <div class="col-md-4">
                <label class="form-label text-secondary">Your Email</label>
                <input type="text" class="form-control border-primary text-center" value="{{ user_email }}" readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label text-secondary">Lot ID</label>
                <input type="text" class="form-control border-primary text-center" value="{{ lot_id }}" readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label text-secondary">Spot ID</label>
                <input type="text" class="form-control border-primary text-center" value="{{ spot_id }}" readonly>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-4">
                <label class="form-label text-secondary">Location</label>
                <input type="text" class="form-control border-primary text-center" value="{{ location }}" readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label text-secondary">Address</label>
                <input type="text" class="form-control border-primary text-center" value="{{ address }}" readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label text-secondary">Pincode</label>
                <input type="text" class="form-control border-primary text-center" value="{{ pincode }}" readonly>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6">
                <label class="form-label text-secondary">Price (per hour)</label>
                <input type="text" class="form-control border-primary text-center" value="₹{{ price }}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label text-secondary">Vehicle Number</label>
                <input type="text" name="vehicle_no" class="form-control border-primary text-center" required>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary rounded-pill">Confirm Booking</button>
        </div>

    </form>
</div>
{% endblock %}
