{% extends 'client/base.html' %}
{% block title %}Release Spot{% endblock %}
{% block heading %}Release Parking{% endblock %}
{% block content %}
<div class="container col-lg-8 mb-4 border border-danger rounded-4 shadow-sm p-4 bg-light">
    <h5 class="text-center text-danger mb-3"><u>Confirm Release</u></h5>
    <table class="table table-bordered">
        <tr><th>Reservation ID</th><td>{{ reservation.reservation_id }}</td></tr>
        <tr><th>Lot ID</th><td>{{ reservation.lot_id }}</td></tr>
        <tr><th>Spot ID</th><td>{{ reservation.spot_id }}</td></tr>
        <tr><th>Vehicle No</th><td>{{ reservation.vehicle_no }}</td></tr>
        <tr><th>Parking Time</th><td>{{ reservation.parking_time.strftime('%d-%m-%Y %I:%M %p') }}</td></tr>
        <tr><th>Leaving Time</th><td>{{ current_time.strftime('%d-%m-%Y %I:%M %p') }}</td></tr>
        <tr><th>Total Cost</th><td>&#8377; {{ reservation.total_cost }}</td></tr>
    </table>
    <form method="POST">
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-outline-danger rounded-pill">Confirm Release</button>
            <p class="text-center text-muted">Once released, the spot will become available to others.</p>
        </div>
    </form>
</div>
{% endblock %}