{% extends 'client/base.html' %}
{% block title %}Release Spot{% endblock %}
{% block back %} {{ url_for('client.reservations') }}{%endblock%}
{% block heading %}Release Parking{% endblock %}
{% block content %}

<div class="container col-lg-10 mb-5 border border-danger rounded-4 shadow-sm p-4 bg-light">
    <h5 class="text-center text-danger mb-5"><u>Confirm Release</u></h5>

    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Reservation ID:&emsp;</div>
        <div class="col-md-6">{{ reservation_id }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Lot ID: &emsp;</div>
        <div class="col-md-6">{{ lot_id }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Spot ID: &emsp;</div>
        <div class="col-md-6">{{ spot_id }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Vehicle No: &emsp;</div>
        <div class="col-md-6">{{ vehicle_no }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Parking Time: &emsp;</div>
        <div class="col-md-6">{{ parking_time.strftime('%d-%m-%Y %I:%M %p') }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 text-end fw-semibold text-secondary">Leaving Time: &emsp;</div>
        <div class="col-md-6">{{ leaving_time.strftime('%d-%m-%Y %I:%M %p') }}</div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 text-end fw-semibold text-secondary">Total Cost: &emsp;</div>
        <div class="col-md-6 text-success">&#8377; {{ total_cost }}</div>
    </div>

    <form method="POST">
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-danger rounded-pill px-4">Confirm Release</button>
            <p class="text-muted mt-2 mb-0">Once released, the spot will become available to others.</p>
        </div>
    </form>
</div>

{% endblock %}
