{% extends "admin/forms/base.html" %}
{% block title %} Parking Lot {% endblock %}

{% block heading %} 

    {% if lot_id %}
        Edit Parking Lot
    {% else %}
        Add Parking Lot
    {% endif %}

{% endblock %}


{% block content %}

<form method="POST" 
action="    
    {% if lot_id %}
        {{ url_for('admin.update_lot', lot_id=lot_id) }}
    {% else %}
        {{ url_for('admin.create_lot') }}
    {% endif %}
">

    <!-- Location (editable always) -->
    <div class="mb-3 row ">
        <label for="location" class="col-sm-4 col-form-label"><b> Location Name : </b></label>
        <div class="col-sm-8">
            <input type="text" class="form-control border border-black text-center" name="location" id="location" value="{{ location or '' }}" required>
        </div>
    </div>

    <!-- Address (readonly if updating) -->
    <div class="mb-3 row">
        <label for="address" class="col-sm-4 col-form-label"><b>Address : </b> </label>
        <div class="col-sm-8">
            <input type="text" class="form-control border border-black text-center" name="address" id="address" value="{{ address or '' }}" {% if lot_id %}readonly{% endif %} required>
        </div>
    </div>

    <!-- Pincode (readonly if updating) -->
    <div class="mb-3 row">
        <label for="pincode" class="col-sm-4 col-form-label"><b> Pin code : </b></label>
        <div class="col-sm-8">
            <input type="number" class="form-control border border-black text-center" name="pincode" id="pincode" value="{{ pincode or '' }}" {% if lot_id %}readonly{% endif %} required>
        </div>
    </div>

    <!-- Total Spots (readonly if updating) -->
    <div class="mb-3 row">
        <label for="totalspots" class="col-sm-4 col-form-label"><b> Maximum Spots : </b></label>
        <div class="col-sm-8">
            <input type="number" class="form-control border border-black text-center" name="totalspots" id="totalspots" value="{{ totalspots or '' }}" {% if lot_id %}readonly{% endif %} required>
        </div>
    </div>


    <!-- Price (editable always) -->
    <div class="mb-3 row">
        <label for="price" class="col-sm-4 col-form-label"><b>Price ( per hour ) : </b></label>
        <div class="col-sm-8">
            <input type="number" class="form-control border border-black text-center" name="price" id="price" value="{{ price or '' }}" required>
        </div>
    </div>

    
    <div class="container-fluid">
        <button type="submit" class="btn rounded-1" style="background-color: #d5f4e6; border: 2px solid #2d6a70; color: black; margin-right: 35px;"> {{ 'Update Lot' if lot_id else 'Add Lot' }} </button>
        <a href="{{ url_for( 'admin.view_lots') }}" class="btn  rounded-1" style="background-color: #d5f4e6; border: 2px solid#2d6a70; color: black"> Close </a>
    </div> 

</form>


{% endblock%}