{% extends "base.html" %}
{% block title %} Parking Lot {% endblock %}

{% block heading %} 

    {% if lot_id %}
        Edit Parking Lot
    {% else %}
        Add Parking Lot
    {% endif %}

{% endblock %}



{% block content %}

<form action="" >
    <div class="mb-3 row">
        <label for="id" class="col-sm-4 col-form-label"> Spot ID: </label>
        <div class="col-sm-8">
            <input type="text" id="id" value="{{ spot_id }}" class="form-control border border-black text-center" readonly>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="status" class="col-sm-4 col-form-label">Status:</label>
    <div class="col-sm-8">
        {% if status == 'occupied' and reservation_id %}
            <a href="{{ url_for('admin.view_occupied_spot', reservation_id=reservation_id) }}" class="form-control border border-black text-center text-decoration-none">
                {{ status }}
            </a>
        {% else %}
            <input type="text" id="status" class="form-control border border-black text-center" readonly value="{{ status }}">
        {% endif %}
        <div id="statuslink" class="form-text">Click on the occupied status to <br> know more.</div> 
    </div>
    </div>

    <br>
    <div class="container-fluid">
       <a href="{{ url_for('admin.delete_spot', spot_id=spot_id) }}" class="btn rounded-1" style="background-color: #d5f4e6; border: 2px solid #2d6a70; color: black; margin-right: 35px;"> Delete </a>
        <a href="{{ url_for( 'admin.view_lots') }}" class="btn  rounded-1" style="background-color: #d5f4e6; border: 2px solid#2d6a70; color: black"> Close </a>
    </div> 

</form>


{% endblock%}